*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

h1 {
  font-weight: bold;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase; /* MODERN LUXURY TRAVEL UPPERCASE */
}

div {
  float: inherit;
  margin: 1% 0;
  width: 100%;
  padding: 25px;
  display: inline-block;
}

img {
  float: inherit;
  width: 100%;
}

.preview {
  position: relative;
  float: left;
  height: 300px;
  overflow: hidden;
}


.preview h1 {
  font-size: 2em;
  color: #000000;
  text-transform: capitalize;
  text-align: left;
  position: absolute;
  left: 90px;
  top: 90px;
}

/* media query to display two column design for tablets*/
@media screen and (min-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
  }

  h1 {
  font-size: 2em;
  }
}

/* meddia query to display four column design for lg devices */
@media screen and (min-width: 991px) {
  div {
    margin: 1%;
    width: 23%;
  }

  h1 {
  font-size: 2em;
  }
}
